.navbar-container {
  width: 100%;
  background-color: #333;
  top: 0;
  flex-direction: row;
  display: flex;
  position: fixed;
  z-index: 100;
}
.navbar-container a {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}
.navbar-container a:hover,
.navbar-container a.active {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: contain;
  background: #ddd;
  color: black;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}
